<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM App Test Automation Test Suite">
	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.phptravel.testcases.DemoHomePageTest"></class>
			<class name="com.phptravel.testcases.LoginPageTest"></class>
			<class name="com.phptravel.testcases.RegisterPageTest"></class>
		</classes>
	</test>	
</suite>